* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 25px;
}

input[type="text"],
input[type="file"] {
  width: 100%; 
  margin-bottom: 15px; 
  padding: 10px;
  border-radius: 30px;
  background: #e2e5eb;
  border: none;
  outline: none;
}

button {
  width: 100%; 
  padding: 16px 0;
  background: #d45c4e;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px;
  user-select: none;
  position: relative;
  background: #f9f9f9;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul li img {
  display: block; 
  width: 100px; 
  height: 100px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease; 
}

ul li img.fullscreen {
  width: 100%; 
  height: auto;
  margin-top: 10px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #555;
  cursor: pointer;
}

#image-name {
  color: #002765;
  margin-bottom: 10px;
}
